@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
a {
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.logo_top {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 80px;
    color: #4bcaff;
    margin-top: 63px;
    margin-bottom: 38px;
}
.logo_top_color {
    color: black;
}
.nav_top {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: #35444F;
}
.nav_top>a {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    color: white;
    padding: 26px 33px 19px 33px;
    border-left: 1px solid white;
}
.nav_top a:last-child {
    border-right: 1px solid white;
}
.nav_top>a:hover {
    background-color: #222F3A;
}
.nav_left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 344px;
    margin: 48px 0 0 0;
    border: 1px solid #000000;
    flex-grow: 0;
}
.nav_left>a {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 27px;
    color: #495863;
    padding: 27px 0 27px 38px;
}
.nav_left>a:hover {
    background-color: #DBDBDB;
    color: #000000;
    padding-left: 76px;
    transition: padding-left 800ms;
    transition: background-color 300ms;
}
aside {
    max-width: 344px;
}
.content {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.main_image {
    width: 320px;
    height: 381px;
    padding-top: 74px;
    padding-bottom: 74px;
    padding-left: 282px;
    padding-right: 282px;
    border: solid 1px #000000;
    margin-top: 48px;
    margin-bottom: 3px;
}
img:hover {
    transform: scale(1.2);
    transition: 0.9s;
    display: block;
}
.main_content {
    display: flex;
 } 
p {
    max-width: 885px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 34px;
    margin-bottom: 0;
    color: #2C2C2C;
}
.nav_bottom {
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    align-items: baseline;
}
.nav_bottom>a {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    color: #0C1927;
    padding: 20px 14px 21px 14px;
}
.nav_bottom a:first-child {
    padding-left: 40px;
}
.copyright {
    max-width: 190px;
    margin-top: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    padding: 20px 40px 21px 120px; 
    color: #010101; 
}
.nav_bottom>a:hover {
    color: #3181A6;
    border-bottom: 3px #3181A6 solid;
    padding-bottom: 13px;
}
.bottom {
    margin-bottom: 30px;
}